:root {
    --primaryPurple: #40445a;
    --secondaryPurple: #646686;
    --dimWhite: #f2f2f2;
}
html {
    font-size: 62.5%;
    /* sets root font size to 10px for easier calculation of rem */

}
body * {
    box-sizing: border-box;
}
body {
    background-color: var(--primaryPurple);
    color: var(--dimWhite);
    font-size: 1.6rem;
    font-family: monospace;
}
header h1 {
    text-align: center;
}

/*
header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0 4rem;
}
*/
header ul {
    text-align: center;
    padding-inline-start: 0;
}
header li {
    display: inline-block;
    margin: 0 1rem;
}

legend {
    border: 1px solid black;
}
#card-insert-form {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#card-insert-form > label {
    flex-basis: 30%;
}
#card-insert-form textarea{
    width: 100%;
}
#card-insert-form span {
    display: block;
    text-align: center;
}

#card-direction-container {
    display: flex;
    flex-flow: column;
}
input[type="radio"] {
    margin: 3px;
    vertical-align: text-top;
}
.hidden {
    display: none !important;
}


table {
    border-collapse: collapse;
    border: 2px solid var(--dimWhite);
}

td,
th {
    border: 1px solid var(--dimWhite);
    padding: 2px;
}

thead, tr:nth-child(even) {  
  background-color: var(--secondaryPurple);
}
